<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source =.\DB palacinke.db;Version=3"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp1.Properties.Settings.ProjektZavrsnoConnectionString"
      connectionString="Data Source=desktop-neiglp9;Initial Catalog=ProjektZavrsno;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>